@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Home page */

.description-block {
  height: 70vh;
}

@include media-breakpoint-up(md) {
  .description-block {
    height: 90vh;
  }
}

.profile_image {
  max-height: 300px;
  max-width: 100%;
  box-shadow: 4px 4px 4px 6px #ccc;
}

.nav-link{
  color: black;
}

.nav-link.active span {
  border-bottom: 2px solid #e9e9e9;
  padding-bottom: 7px;
}
